<!DOCTYPE html>
<html>
  <head>
    <title>Care One</title>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/content.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="page">
      <header>
        <nav>
          <h1><a href="content.html">Care One</a></h1>
          <h2><a href="pics.html">Pictures</a></h2>
          <ul id="snsstat">
            <li class="stat"><a href="/auth/twitter"><img src="/imgs/tw-off.png" ></a></li>
            <li class="stat"><a href="/tweet"><img src="/imgs/fb-on.png" ></a></li>
          </ul>
        </nav>
      </header>
      <div id="main">
        <ul id="feed">
          <li>
            <img src="">
            <section>
              <h3 name="name"><%=user %></h3>
              <p class="story">description</p>
              <footer>
                <div class="source">From Twitter</div>
                <small>created_at</small>
              </footer>
            </section>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>