<!DOCTYPE html>
<html>
  <head>
    <title>Care One Login</title>
      <meta charset="UTF-8">
      <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  	<div class="bgfull" id="login1">
      <div class="logo">
        <h1 class="f1">CARE ONE</h1>
        <h2 class="f2">One is all you care</h2>
      </div>
      <div class="login">
        <ul id="snslogin">
          <li class="sns fb">
            <a href="/auth/facebook"><div id="fbbt"></div></a>
          </li>
          <li class="sns tw">
            <a href="/auth/twitter"><div id="twbt"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>